In [1]:
import pandas as pd
#pd.set_option('display.max_columns', 500)
#pd.set_option('display.max_rows', 500)
import pickle

import sys
import numpy as np
np.set_printoptions(threshold=sys.maxsize)

import matplotlib.pyplot as plt
from PIL import Image, ImageEnhance, ImageDraw,ImageFont

import arviz as az
import pymc3 as pm
print(pm.__version__)
import theano.tensor as tt


import os
import re
import glob
import random

from sklearn import preprocessing

from skimage import measure, restoration,morphology
from skimage import io, filters, measure, color, img_as_ubyte
from skimage.draw import disk
from skimage import measure, restoration,morphology

RANDOM_SEED = 8927
np.random.seed(RANDOM_SEED)


%config InlineBackend.figure_format = 'retina'

3.11.5

**pheno_class**\
0 = wt\
1 = pheno\
**image_number**\
0:6

In [90]:
path_table_input = '/data/kanferg/Images/Pex_project/Basyein_classifcation/output_lab_meeting/Kernel_80_mix_0to6'
path_txt = '/data/kanferg/Images/Pex_project/Basyein_classifcation/output_lab_meeting/Kernel_80_mix_0to6/png'
def upload_table(image_num,path,path_txt):
    table = pd.read_csv(os.path.join(path,'table'+str(image_num) +'.csv'))
    table['pheno_class'] = 0
    table['image_number'] = image_num
    with open(os.path.join(path_txt,'class_'+str(image_num)+'.txt')) as f:
        text = f.readline()
    tt = [int(tx) for tx in text.split(';')]
    table.iloc[tt,5] = 1
    return table
table0 = upload_table(image_num = 0,path = path_table_input,path_txt = path_txt)    
table1 = upload_table(image_num = 1,path = path_table_input,path_txt = path_txt)  
table2 = upload_table(image_num = 2,path = path_table_input,path_txt = path_txt)
table3 = upload_table(image_num = 3,path = path_table_input,path_txt = path_txt)
table4 = upload_table(image_num = 4,path = path_table_input,path_txt = path_txt)
table5 = upload_table(image_num = 5,path = path_table_input,path_txt = path_txt)
table6 = upload_table(image_num = 6,path = path_table_input,path_txt = path_txt)

In [129]:
# upload image_table of the granularity mesure
def upload_img_table(image_num,path):
    table = pd.read_csv(os.path.join(path,'table_img'+str(image_num) +'.csv'))
    table['fov_number'] = image_num
    return table
table_img0 = upload_img_table(image_num = 0, path = path_table_input)    
table_img1 = upload_img_table(image_num = 1, path = path_table_input)  
table_img2 = upload_img_table(image_num = 2, path = path_table_input)
table_img3 = upload_img_table(image_num = 3, path = path_table_input)
table_img4 = upload_img_table(image_num = 4, path = path_table_input)
table_img5 = upload_img_table(image_num = 5, path = path_table_input)
table_img6 = upload_img_table(image_num = 6, path = path_table_input)
table_img = pd.concat([table_img0,table_img1,table_img2,table_img3,table_img4,table_img6],axis=0)

Merege tables 0:4,6

In [161]:
tabel_train_temp = pd.concat((table0,table1,table2,table3,table4,table6),0)
tabel_train_temp.head(3)

/tmp/ipykernel_71451/212810189.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  tabel_train_temp = pd.concat((table0,table1,table2,table3,table4,table6),0)

   Unnamed: 0  label  area  centroid-0  centroid-1  pheno_class  image_number
0           0      1  2868   23.407950  155.629010            0             0
1           1      2  4494   34.141522  295.684023            0             0
2           2      3   983   10.923703  366.691760            0             0

Select pheno and wt cells\
**Train table**\
<Br>
table_test_prop\
Merege with granularity table

In [162]:
table_train_prop

    index  label  area   centroid-0   centroid-1  pheno_class  image_number
0      67     67  2603    73.041106  2056.144065            1             5
1     112    112  2595   107.149133  2615.011175            1             5
2     142    142  2515   143.533201  2017.996024            1             5
3     187    187  3043   191.454814  1927.755504            1             5
4     308    308  1883   337.235263  2464.187467            1             5
..    ...    ...   ...          ...          ...          ...           ...
88     65    399  1179   443.647159  2816.628499            0             5
89     66   1685  3631  2820.727899  2350.177362            0             5
90     68   1407  1078  2232.393321  2251.897032            0             5
91     69    895  3265  1219.498928  1089.787749            0             5
92     70   1593  2651  2630.084119  1700.462844            0             5

[93 rows x 7 columns]

In [163]:
import random
table_pheno = tabel_train_temp.loc[tabel_train_temp['pheno_class']==1,:]
table_wt = tabel_train_temp.loc[tabel_train_temp['pheno_class']==0,:]
random.shuffle(table_wt.index.values)
table_train_prop = pd.concat((table_pheno,table_wt.sort_index()[0:70]),0)
# duplicate table proprites
table_train_prop = table_train_prop.iloc[:,1:]
table_train_prop['label']  = table_train_prop.label.values - 1 
table_train_prop = table_train_prop.reset_index()
label_train = table_train_prop.label.values
image_number = table_train_prop.image_number.values

/tmp/ipykernel_71451/4142309777.py:5: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  table_train_prop = pd.concat((table_pheno,table_wt.sort_index()[0:70]),0)

In [167]:
def mereg_prop_granularity(table,table_imgg,index):
    table_init = table.iloc[:0,:].copy()
    table_img_init = table_imgg.iloc[:0,:].copy()
    tabel_con = pd.concat([table_init,table_img_init],axis=1)
    for i in range(len(index)):
        table_dup_temp = pd.concat([table.loc[(table['label']==index[i]) & 
                                              (table['image_number']==image_number[i]),:]]*80,ignore_index=True).reset_index()
        
        table_img_temp = table_imgg.loc[(table_imgg['image_group']==label_train[i]) & 
                                        (table_imgg['fov_number']==image_number[i]),:].reset_index()
        table_con_temp = pd.concat([table_dup_temp,table_img_temp],axis=1)
        table_con_temp = table_con_temp.iloc[:,2:]
        tabel_con = pd.concat([tabel_con,table_con_temp],axis=0)
    return tabel_con
table_sum_train = mereg_prop_granularity(table_train_prop,table_img,label_train)

In [168]:
table_sum_train

,index,label,area,centroid-0,centroid-1,pheno_class,image_number,Unnamed: 0,image_signal,raius_list,image_group,fov_number
0,16800,210,2557,346.347282,1769.860774,1,0,16800,1729.525616,0,210,0
1,16801,210,2557,346.347282,1769.860774,1,0,16801,1701.712945,1,210,0
2,16802,210,2557,346.347282,1769.860774,1,0,16802,1672.143919,2,210,0
3,16803,210,2557,346.347282,1769.860774,1,0,16803,1634.346109,3,210,0
4,16804,210,2557,346.347282,1769.860774,1,0,16804,1602.489245,4,210,0
...,...,...,...,...,...,...,...,...,...,...,...,...
75,41435,517,3004,802.925433,1096.210719,0,3,41435,233.302597,75,517,3
76,41436,517,3004,802.925433,1096.210719,0,3,41436,232.611518,76,517,3
77,41437,517,3004,802.925433,1096.210719,0,3,41437,231.931092,77,517,3
78,41438,517,3004,802.925433,1096.210719,0,3,41438,231.405459,78,517,3
79,41439,517,3004,802.925433,1096.210719,0,3,41439,230.842543,79,517,3

Select pheno and wt cells\
**Test table**\
image_number_5
<Br>
table_train_prop\
Merege with granularity table

In [169]:
tabel_train_temp = table5
tabel_train_temp.head(3)
import random
table_pheno = tabel_train_temp.loc[tabel_train_temp['pheno_class']==1,:]
table_wt = tabel_train_temp.loc[tabel_train_temp['pheno_class']==0,:]
random.shuffle(table_wt.index.values)
table_train_prop = pd.concat((table_pheno,table_wt.sort_index()[0:70]),0)
# duplicate table proprites
table_train_prop = table_train_prop.iloc[:,1:]
table_train_prop['label']  = table_train_prop.label.values - 1 
table_train_prop = table_train_prop.reset_index()
label_train = table_train_prop.label.values
image_number = table_train_prop.image_number.values

/tmp/ipykernel_71451/543480974.py:7: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  table_train_prop = pd.concat((table_pheno,table_wt.sort_index()[0:70]),0)

In [170]:
def mereg_prop_granularity(table,table_imgg,index):
    table_init = table.iloc[:0,:].copy()
    table_img_init = table_imgg.iloc[:0,:].copy()
    tabel_con = pd.concat([table_init,table_img_init],axis=1)
    for i in range(len(index)):
        table_dup_temp = pd.concat([table.loc[(table['label']==index[i]) & 
                                              (table['image_number']==image_number[i]),:]]*80,ignore_index=True).reset_index()
        
        table_img_temp = table_imgg.loc[(table_imgg['image_group']==label_train[i]) & 
                                        (table_imgg['fov_number']==image_number[i]),:].reset_index()
        table_con_temp = pd.concat([table_dup_temp,table_img_temp],axis=1)
        table_con_temp = table_con_temp.iloc[:,2:]
        tabel_con = pd.concat([tabel_con,table_con_temp],axis=0)
    return tabel_con
table_sum_test = mereg_prop_granularity(table_train_prop,table_img5,label_train) 
table_sum_test

,index,label,area,centroid-0,centroid-1,pheno_class,image_number,Unnamed: 0,image_signal,raius_list,image_group,fov_number
0,5360,67,2603,73.041106,2056.144065,1,5,5360,11479.362658,0,67,5
1,5361,67,2603,73.041106,2056.144065,1,5,5361,11272.994622,1,67,5
2,5362,67,2603,73.041106,2056.144065,1,5,5362,10995.669228,2,67,5
3,5363,67,2603,73.041106,2056.144065,1,5,5363,10600.511717,3,67,5
4,5364,67,2603,73.041106,2056.144065,1,5,5364,10215.018056,4,67,5
...,...,...,...,...,...,...,...,...,...,...,...,...
75,76315,953,4005,1314.208240,66.827965,0,5,76315,140.881149,75,953,5
76,76316,953,4005,1314.208240,66.827965,0,5,76316,140.875156,76,953,5
77,76317,953,4005,1314.208240,66.827965,0,5,76317,140.842197,77,953,5
78,76318,953,4005,1314.208240,66.827965,0,5,76318,140.831461,78,953,5
79,76319,953,4005,1314.208240,66.827965,0,5,76319,140.831461,79,953,5

Add column for Signal at t0 and signal at t60
- [x] train
- [ ] test

Assuem the centroid values are unique

In [181]:
table_train_mix_varyin_effect = table_sum_train.drop_duplicates(subset='centroid-0')
un_corr = np.unique(table_train_mix_varyin_effect['centroid-0'].values)
table_train_mix_varyin_effect['image_t_o'] = 0
table_train_mix_varyin_effect['image_t_'] = 0
for i in range(len(un_corr)):
    signale_list = table_sum_train.loc[table_sum_train['centroid-0'].values == un_corr[i],'image_signal'].tolist()
    table_train_mix_varyin_effect.loc[table_train_mix_varyin_effect['centroid-0'].values == un_corr[i], 'image_t_o'] = signale_list[0]
    table_train_mix_varyin_effect.loc[table_train_mix_varyin_effect['centroid-0'].values == un_corr[i], 'image_t_'] = signale_list[60]
table_train_mix_varyin_effect

/tmp/ipykernel_71451/1065741145.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_train_mix_varyin_effect['image_t_o'] = 0
/tmp/ipykernel_71451/1065741145.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_train_mix_varyin_effect['image_t_'] = 0
/tmp/ipykernel_71451/1065741145.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_train_mix_varyin_effect.loc[table_train_mix_varyin_effect['centroid-0'].values == un_corr[i], 'image_t_o'] = signale_list[0]
/tmp/ipykernel_71451/1065741145.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_train_mix_varyin_effect.loc[table_train_mix_varyin_effect['centroid-0'].values == un_corr[i], 'image_t_'] = signale_list[60]

,index,label,area,centroid-0,centroid-1,pheno_class,image_number,Unnamed: 0,image_signal,raius_list,image_group,fov_number,image_t_o,image_t_
0,16800,210,2557,346.347282,1769.860774,1,0,16800,1729.525616,0,210,0,1729.525616,486.579585
0,17680,221,2535,359.369625,138.584615,1,0,17680,3279.715582,0,221,0,3279.715582,289.120316
0,18960,237,2836,384.560296,1745.599788,1,0,18960,1854.755994,0,237,0,1854.755994,491.741185
0,57280,716,3521,1241.553536,354.123544,1,0,57280,2022.447600,0,716,0,2022.447600,319.905993
0,74160,927,4883,1648.965800,713.038501,1,0,74160,1476.749744,0,927,0,1476.749744,148.775548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,39040,488,1758,924.425484,2488.064278,0,2,39040,473.081911,0,488,2,473.081911,134.526166
0,79920,999,3746,1907.332355,2238.163107,0,2,79920,3791.721303,0,999,2,3791.721303,154.540577
0,11680,146,4218,255.200332,1428.484353,0,0,11680,6142.033428,0,146,0,6142.033428,332.568516
0,6000,75,6570,116.541553,1300.870472,0,0,6000,862.441857,0,75,0,862.441857,125.018417
0,41360,517,3004,802.925433,1096.210719,0,3,41360,1740.713715,0,517,3,1740.713715,258.865180

- [ ] train
- [x] test

In [182]:
table_test_mix_varyin_effect = table_sum_test.drop_duplicates(subset='centroid-0')
un_corr = np.unique(table_test_mix_varyin_effect['centroid-0'].values)
table_test_mix_varyin_effect['image_t_o'] = 0
table_test_mix_varyin_effect['image_t_'] = 0
for i in range(len(un_corr)):
    signale_list = table_sum_test.loc[table_sum_test['centroid-0'].values == un_corr[i],'image_signal'].tolist()
    table_test_mix_varyin_effect.loc[table_test_mix_varyin_effect['centroid-0'].values == un_corr[i], 'image_t_o'] = signale_list[0]
    table_test_mix_varyin_effect.loc[table_test_mix_varyin_effect['centroid-0'].values == un_corr[i], 'image_t_'] = signale_list[60]
table_test_mix_varyin_effect

/tmp/ipykernel_71451/1720803231.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_test_mix_varyin_effect['image_t_o'] = 0
/tmp/ipykernel_71451/1720803231.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_test_mix_varyin_effect['image_t_'] = 0
/tmp/ipykernel_71451/1720803231.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_test_mix_varyin_effect.loc[table_test_mix_varyin_effect['centroid-0'].values == un_corr[i], 'image_t_o'] = signale_list[0]
/tmp/ipykernel_71451/1720803231.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_test_mix_varyin_effect.loc[table_test_mix_varyin_effect['centroid-0'].values == un_corr[i], 'image_t_'] = signale_list[60]

,index,label,area,centroid-0,centroid-1,pheno_class,image_number,Unnamed: 0,image_signal,raius_list,image_group,fov_number,image_t_o,image_t_
0,5360,67,2603,73.041106,2056.144065,1,5,5360,11479.362658,0,67,5,11479.362658,709.533999
0,8960,112,2595,107.149133,2615.011175,1,5,8960,12079.997303,0,112,5,12079.997303,503.460886
0,11360,142,2515,143.533201,2017.996024,1,5,11360,4073.489463,0,142,5,4073.489463,560.963817
0,14960,187,3043,191.454814,1927.755504,1,5,14960,3509.043050,0,187,5,3509.043050,455.221821
0,24640,308,1883,337.235263,2464.187467,1,5,24640,16002.011152,0,308,5,16002.011152,388.160382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,32080,401,1140,447.084211,1813.213158,0,5,32080,3079.623684,0,401,5,3079.623684,346.579825
0,108880,1361,3043,2159.679593,1443.993099,0,5,108880,2923.848505,0,1361,5,2923.848505,130.152152
0,10560,132,3033,137.035279,2549.778107,0,5,10560,3944.835147,0,132,5,3944.835147,343.961424
0,126320,1579,1852,2588.416307,2090.866631,0,5,126320,1794.919546,0,1579,5,1794.919546,138.669546
0,76240,953,4005,1314.208240,66.827965,0,5,76240,4209.276904,0,953,5,4209.276904,142.247441

Training Data save
'/data/kanferg/Images/Pex_project/Basyein_classifcation/output_lab_meeting/training_data'

In [172]:
path = '/data/kanferg/Images/Pex_project/Basyein_classifcation/output_lab_meeting/training_data'
table_sum_train.to_csv(os.path.join(path,'table_sum_train.csv'))
table_sum_test.to_csv(os.path.join(path,'table_sum_test.csv'))

In [183]:
path = '/data/kanferg/Images/Pex_project/Basyein_classifcation/output_lab_meeting/training_data'
table_train_mix_varyin_effect.to_csv(os.path.join(path,'table_train_mix_varyin_effect.csv'))
table_test_mix_varyin_effect.to_csv(os.path.join(path,'table_test_mix_varyin_effect.csv'))